<input type="hidden" id="item_id" name="item_id" value="<%= @item.id %>">
<input type="hidden" id="item_value" name="item_value" value="<%= @item.price %>">

<div class="width-container">
  <div class="box-container">
    <div class="padding10">



      <p id="notice"><%= notice %></p>

      <center>
        <p>
          <img class="item-picture" src="<%= @item.picture_url %>" />
        </p>
      </center>

      <h1>
        <%= @item.name %>
      </h1>

      <p>
        <%= @item.desc %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= format_money(@item.price) %>
      </p>

      <center>
        <div class="payment-options">
          <div class="payment-title">Payment options below</div>
          <div id="paypal-button-container"></div>
        </div>
    </div>
  </div>
</div>


<script
  src="https://www.paypal.com/sdk/js?client-id=AUfzWo-CUAjDPt1VcmmWZzjc4WOrZD1qXt_ADEeLuWpyFx0WvTdnSZWdJooY211hBPO5h-X1tQOQYgn4&currency=USD"
  data-sdk-integration-source="button-factory"></script>
<script>

  function paypalFn() {
    const itemValue = document.getElementById('item_value').getAttribute("value");
    const itemId = document.getElementById('item_id').getAttribute("value");

    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'blue',
        layout: 'vertical',
        label: 'paypal',

      },
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: itemValue
            }
          }]
        });
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          console.log(details)
          fetch(`/pay/${itemId}`, {
            method: 'POST',
            cache: 'no-cache',
            redirect: 'follow',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(details)
          }).then(r => {
            console.log(r)
            window.location.href = e.url
            // window.location.href = `/confirm/${itemId}`; //relative to domain
          }).catch(e => {
            console.log(e)
          })
          // Redirect to "Save details endpoint"
          // That endpoint will do the server side redirect
        });
      }
    }).render('#paypal-button-container');
  }
  
  paypalFn()
</script>