<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @item.price %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @item.picture_url %>
  <br>

</p>
<center>
  <p>
    <img class="item-picture" src="<%= @item.picture_url %>" />
  </p>

  <div id="paypal-button-container"></div>


  <%= link_to 'Back', items_path %>


  <input type="hidden" id="item_id" name="item_id" value="<%= @item.id %>">
  <input type="hidden" id="item_value" name="item_value" value="<%= @item.price %>">


  <script
    src="https://www.paypal.com/sdk/js?client-id=AUfzWo-CUAjDPt1VcmmWZzjc4WOrZD1qXt_ADEeLuWpyFx0WvTdnSZWdJooY211hBPO5h-X1tQOQYgn4&currency=USD"
    data-sdk-integration-source="button-factory"></script>
  <script>
    setTimeout(function () {
      const itemValue = document.getElementById('item_value').getAttribute("value");
      const itemId = document.getElementById('item_id').getAttribute("value");

      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'blue',
          layout: 'vertical',
          label: 'paypal',

        },
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: itemValue
              }
            }]
          });
        },
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            console.log(details)
            fetch(`/confirm/${itemId}`, {
              method: 'POST',
              cache: 'no-cache',
              redirect: 'follow',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(details)
            }).then(r => {
              console.log(r)
            }).catch(e => {
              consol.log(e)
            })
            // Redirect to "Save details endpoint"
            // That endpoint will do the server side redirect
            window.location.href = `/confirm/${itemId}`; //relative to domain
          });
        }
      }).render('#paypal-button-container');
    }, 100)
  </script>