<p id="notice"><%= notice %></p>

<center>
<h1>You purchased <%= @item.name %>!!</h1>
<%= link_to 'Back to original item', @item %>
<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @item.price %>
</p>

<p>
  <img class="item-picture" src="<%= @item.picture_url %>"/>
  </p>

<div style="border: 1px solid #bbb;padding:20px">
<h3>Have the attendent scan this code to retrive your <%= @item.name %></h3>
  <div class="qr-container">
  <table class="qr">
  <% @qr.modules.each do |x| %>
      <tr>
        <% x.each do |y| %>
            <% if y %>
                <td class="black"/>
            <% else %>
                <td class="white"/>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
</div>
</div>
  </center>