<%= link_to 'Back', items_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= format_money(@item.price) %>
</p>

<p>
  <strong>Pay Link:</strong>
  <%= link_to "Buy #{@item.name}", controller:'pay', action:'show', id:@item.id %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @item.picture_url %>
  <br>
</p>

<center>
<p>
  <img class="item-picture" src="<%= @item.picture_url %>"/>
  </p>

<div style="border: 1px solid #bbb;padding:20px">
<h3>Scan this code with your camera app to purchase</h3>
<div class="qr-container">
  <table class="qr">
  <% @qr.modules.each do |x| %>
      <tr>
        <% x.each do |y| %>
            <% if y %>
                <td class="black"/>
            <% else %>
                <td class="white"/>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
</div>
</div>
</center>

