<!DOCTYPE html>
<html>
  <head>
    <title>Preorder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="padding10">
  <style>
  .navbar > a {
    margin-right: 20px;
  }
  </style>
  <div class="navbar">
  <%= link_to 'Home', '/'%>
  <%= link_to 'Items', '/items' %>
  <%= link_to 'Groups', '/groups' %>
  <%= link_to 'Receipts', '/receipts' %>
  <%= current_user ? (link_to 'Log out', destroy_user_session_path, method: 'delete') : (link_to 'Log in', new_user_session_path) %>
  
  </div>
    <!-- <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
